<!DOCTYPE html>
<html ng-app="oly.demo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>oly-dialog demo</title>
    
    <script src="bower_components/dialog-polyfill/dialog-polyfill.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/dialog-polyfill/dialog-polyfill.css" />

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="dist/oly-dialog.js"></script>

    <script>
        var app = angular.module('oly.demo', ['oly.dialog']);

        app.controller('DemoController', ['DialogRegistry', function(dialogRegistry) {
            this.open = function() {
                var dialog = dialogRegistry.getDialog('demo');
                dialog.show()
                    .then(function(result) {
                        this.result = result;
                    }.bind(this))
            }
        }]);
    </script>
</head>
<body ng-controller="DemoController as ctrl">
    <h1 id="anchor">oly-dialog Demo</h1>

    <div>
        <label>
            This input is bound to the resolution of the promise from opening the dialog.
            <input type="text" ng-model="ctrl.result" />
            <button ng-click="ctrl.open()">Show Dialog from controller</button >
        </label>
    </div>

    <div>
        <label>
            This input is two way bound to the input inside the dialog.
            <input type="text" ng-value="ctrl.input" />
            <button oly-dialog-show for="demo" anchor="#anchor">Show Dialog</button >
            <button oly-dialog-show for="demo" modal="false">Show non-modal Dialog</button >
        </label>
    </div>

    <dialog name="demo">
        <h1>Hello World</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iure dolor officia, sed quasi esse earum totam nesciunt, ipsum placeat. Suscipit explicabo ipsum consequuntur alias, quam quibusdam sequi dolorem modi.</p>

        <input type="text" ng-model="ctrl.input" />

        <button oly-dialog-close return="ctrl.input">close</button>
    </dialog>
    
    <script>
        var dialogs = document.getElementsByTagName('dialog');

        Array.prototype.forEach.call(dialogs, function(d) {
            dialogPolyfill.registerDialog(d);
        })
    </script>
</body>
</html>